doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title landing page
  link(rel='stylesheet' href='/mycss/landingpage.css')
span
  a(href='sign')
.container
  section
    p#d DON&apos;T
    p#h HUSTLE
    p#p PARK WITH US
