doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/mycss/signUp.css')
  title signuppage
#container.container
  .form-container.sign-up-container
    form(action='/api/register' name='registration' method='POST' onsubmit='return validate(event);' )
      h1 Create Account
      .social-container
        a.social(href='#')
          i.fab.fa-facebook-f
        a.social(href='#')
          i.fab.fa-google-plus-g
        a.social(href='#')
          i.fab.fa-linkedin-in
      span or use your email for registration
      input(type='text' placeholder='Name' name='name')
      span#nameerror
      input(type='email' placeholder='Email' name='email')
      span#emailerror
      input(type='password' placeholder='Password' name='passwordd')
      span#passwordderror
      button(type='submit') Sign Up
  .form-container.sign-in-container
    form(action='/api/login' method='POST'  name= 'registra' onsubmit=' return validatte(event);' )
      h1 Sign in
      .social-container
        a.social(href='#')
          i.fab.fa-facebook-f
        a.social(href='#')
          i.fab.fa-google-plus-g
        a.social(href='#')
          i.fab.fa-linkedin-in
      span or use your account
      input(type='email' placeholder='Email' name='emaill')
      span#emaillerror
      input(type='password' placeholder='Password' name='passworddd')
      span#passworddderror
      a(href='#') Forgot your password?
      button.sign-in-button(type='submit') Sign In
  .overlay-container
    .overlay
      .overlay-panel.overlay-left
        h1 Welcome Back!
        p To keep connected with us please login with your personal info
        button#signIn.ghost Sign In
      .overlay-panel.overlay-right
        h1 Hello, Friend!
        p Enter your personal details and start journey with us
        button#signUp.ghost Sign Up
script.
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');
  signUpButton.addEventListener('click', () => {
  container.classList.add("right-panel-active");
  });
  signInButton.addEventListener('click', () => {
  container.classList.remove("right-panel-active");
  });
script(src='/script/script.js')
