/* Default styles for all screen sizes */
body {
  background-image: url(/images/1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-family: fantasy;
  flex-direction: column; /* Align content vertically */
}

.container {
  max-width: 100%;
  text-align: left; /* Align text to the left */
  padding: 20px; /* Add padding to the container for better spacing */
  flex-grow: 1; /* Allow the container to grow and push content to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom for default layout */
}

p {
  margin: 0; /* Remove default paragraph margins to align at the bottom */
  font-size: 12vw; /* Use viewport units to make the text responsive */
  line-height: 1.2; /* Add some line height to improve readability */
}

#d {
  color: white;
  font-size: 15vw; /* Use viewport units to make the text responsive */
}

#h {
  color: black;
  font-size: 15vw; /* Use viewport units to make the text responsive */
}

#p {
  color: aqua;
  font-size: 15vw; /* Use viewport units to make the text responsive */
}

span {
  position: absolute;
  top: 20px; /* Position the span at the top */
  right: 20px; /* Position the span at the right */
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
}

span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; /* Remove underline from anchor links */
}

span a:before,
span a:after {
  content: "login";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  #d {
    font-size: 156px;
  }

  #h {
    font-size: 100px;
  }

  #p {
    font-size: 100px;
  }

  p {
    font-size: 8vw; /* Adjust the paragraph font size for larger screens */
  }
}
